@using SimpleRag.VectorStorage.Models
<MudDataGrid T="VectorEntity" Items="Items" Dense SelectedItem="_selectEntry" SelectedItemChanged="x => SwitchSelectedItem(x)" Height="70vh">
    <Columns>
        <TemplateColumn T="VectorEntity">
            <CellTemplate>
                @if (context.Item.Id == _selectEntry?.Id)
                {
                    <div style="color: var(--mud-palette-primary)"><strong>@context.Item.ContentName</strong></div>
                }
                else
                {
                    <div>@context.Item.ContentName</div>
                }
            </CellTemplate>
        </TemplateColumn>
    </Columns>
</MudDataGrid>

@code {
    private VectorEntity? _selectEntry;

    [Parameter, EditorRequired]
    public required VectorEntity[] Items { get; set; }

    [Parameter, EditorRequired]
    public required EventCallback<VectorEntity> SelectedItemChanged { get; set; }

    private async Task SwitchSelectedItem(VectorEntity? entity)
    {
        if (entity == null)
        {
            return;
        }

        if (_selectEntry?.Id != entity.Id)
        {
            _selectEntry = entity;
            await SelectedItemChanged.InvokeAsync(_selectEntry);
        }
    }
}