@page "/CodeIngestion"

<h1>Code Ingestion</h1>
<RCheckBox Label="Re-initialize Source" @bind-Value="_reinitializeSource" Tooltip="If this is check the ingestion will delete previous Source Data and re-create it" />
<MudTabs>
    @foreach (var source in Project.CodeSources)
    {
        <MudTabPanel Text="@(source.Name)">
            <RButton OnClick="() => Ingest(source)">Ingest @source.Name</RButton>
            <MudProgressLinear Color="Color.Primary" Size="Size.Small" Value="25" Class="my-7">
                <MudText Typo="Typo.subtitle1" Color="Color.Default">
                    <b>122/671</b>
                </MudText>
            </MudProgressLinear>

        </MudTabPanel>
    }
</MudTabs>

<h2>Progress</h2>
<MudDataGrid Items="_messages.OrderByDescending(x=> x.Timestamp)" Virtualize Height="500px">
    <Columns>
        <PropertyColumn Property="x => x.Timestamp"/>
        <PropertyColumn Property="x => x.Message"/>
    </Columns>
</MudDataGrid>